<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
</head>
<body>
    <h1>Forgot Password</h1>
    <p>Dear {{username}},</p>
    <p>We received a request to reset your password. If you did not make this request, please ignore this email.</p>
    <p>To reset your password, please click on the following link:</p>
    <p><a href="{{resetLink}}">Reset Password</a></p>
    <p>If the above link does not work, you can copy and paste the following URL into your browser:</p>
    <p>{{resetLink}}</p>
    <p>Thank you,</p>
    <p>The {{appName}} Team</p>
</body>
</html>