APP_NAME=<YOUR_APP_NAME>
APP_DESCRIPTION=<YOUR_APP_DESCRIPTION>
APP_VERSION=<YOUR_APP_VERSION>
APP_ENV=<YOUR_APP_ENVIRONMENT>
APP_PORT=<YOUR_APP_PORT>
APP_HOST=<YOUR_APP_HOST>
APP_API_DEBUG=<YOUR_APP_API_DEBUG>
APP_API_PREFIX=<YOUR_APP_API_PREFIX>

SWAGGER_ENABLE=<YOUR_SWAGGER_PERMISSION>

POSTGRES_DATABASE_HOST=<YOUR_POSTGRES_HOST>
POSTGRES_DATABASE_PORT=<YOUR_POSTGRES_PORT>
POSTGRES_DATABASE_NAME=<YOUR_POSTGRES_NAME>
POSTGRES_DATABASE_USER=<YOUR_POSTGRES_USER>
POSTGRES_DATABASE_PASSWORD=<YOUR_POSTGRES_PASSWORD>
POSTGRES_DATABASE_DEBUG=<YOUR_DEBUG_PERMISSON>

ACCESS_TOKEN_SECRET=<YOUR_ACCESS_TOKEN_SECRET>
ACCESS_TOKEN_EXPIRES_IN=<YOUR_ACCESS_TOKEN_EXPIRES_IN>
REFRESH_TOKEN_SECRET=<YOUR_REFRESH_TOKEN_SECRET>
REFRESH_TOKEN_EXPIRES_IN=<YOUR_REFRESH_TOKEN_EXPIRES_IN>

MAIL_HOST=<YOUR_MAIL_HOST>
MAIL_PORT=<YOUR_MAIL_PORT>
MAIL_USERNAME=<YOUR_MAIL_USERNAME>
MAIL_PASSWORD=<YOUR_MAIL_PASSWORD>